.submitButton{
    align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;

  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  /* line-height: 1em; */
  max-width: 100%;
}

/* #################forinput#############3 */

.input {
    position: relative;
    font-size: 1.5em;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
}
.input *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 0.325em;
    z-index: 1;
}
.input *:not(span):focus + span {
    opacity: 1;
    transform: scale(1);
}
.input span {
    transform: scale(0.993, 0.94);
    transition: transform 0.5s, opacity 0.25s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
}
/* html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    font-size: 1em;
} */
/* body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* html, body {
    height: 100%;
} */
input {
    font-family: inherit;
    line-height: inherit;
    color: #2e3750;
    min-width: 12em;
}
/* ::placeholder {
    color: #cbd0d5;
}
html::after {
    content: '';
    background: linear-gradient(21deg, #10abff, #1beabd);
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
} */


.imageContainer{
 
    background-color: #b6d068;
    column-count: 4;
    column-gap: 30px;
    margin:0 auto;
    padding: 30px;
    max-width: 1000px;
    box-shadow: 0 0  15px ,rgba(0, 0, 0, 0.2);
height: 85vh;
display: flex;
flex-direction: column;
}

.memeContainer{
 
    background-color: #b6d068;
    column-count: 4;
    column-gap: 30px;
    margin:0 auto;
    padding: 30px;
    max-width: 1000px;
    box-shadow: 0 0  15px ,rgba(0, 0, 0, 0.2);
height: 100%;
}




.templateImage{

 align-items: center;
        background-color: #b6d068;
        column-count: 4;
        column-gap: 30px;
        margin:0 auto;
        padding: 30px;
        max-width: 1000px;
        box-shadow: 0 0  15px ,rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
    
    
    
}

.imageCss{
    height: auto;
    padding: 5px;
    background-color: white;
    box-sizing: border-box;
    margin: 2%;
}
/* .choosenImage{
    background-color: #b6d068;
   
    margin:0 auto;
    padding: 30px;
    max-width: 1000px;
    max-height:  1000px;
    box-shadow: 0 0  15px ,rgba(0, 0, 0, 0.2);
height: 100%;
} */

.form{
    margin: auto;
    align-items: center;
    flex-direction: column;
    /* display: flex; */
}

.inputBox{
    width:100%;
    border:2px solid #aaa;
    border-radius:20px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

  
.inputBox:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }